.ri_category_thumb_upload {
    width: 50%;
}

.ri_category_thumb_upload input[type='text'] {
    margin-bottom: 10px;
}
#rit-wrap-tabs{
    background: none !important;
    border: none;
    border-radius:0;
    padding:0;
    border-bottom: 3px solid #32373C;
}
#rit-wrap-tabs li.ui-state-default {
    border:none;
    margin:0;
    border-radius: 0;
    background: none;
    border-right:1px solid #fff;
    outline: 0;
}
#rit-wrap-tabs li.ui-state-default a{
    color: #252525;
}
.ui-tabs .ui-tabs-panel .ui-sortable-handle, .ui-tabs .ui-tabs-panel>.button-link{
    display:none
}
#rit-wrap-tabs li.ui-tabs-active, #rit-wrap-tabs li.ui-state-default:hover{
    background: #32373C;
}#rit-wrap-tabs li.ui-tabs-active a, #rit-wrap-tabs li.ui-state-default:hover a{
    color: #fff;
}

.meta-box-sortables{
    border: none;
    border-radius: 0;
    padding:0
}
.col-xs-6{
    width:50%;
    padding:0 15px;
    float: left;
}
.rwmb-meta-box .col-xs-6{
    padding:0
}